@tailwind base;
@tailwind components;
@tailwind utilities;

.h-auto {
    height: auto !important;
}

::-webkit-scrollbar {
    width: 5px;
}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 0;
    }
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b5b9be;
}

.dark ::-webkit-scrollbar-thumb {
    background: #383f46;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #4e545b;
}

.result h2 {
    font-size: 24px;
}

.result h3 {
    font-size: 20px;
}

.result h4 {
    font-size: 18px;
}

.result p {
    font-size: 16px;
}

.result ul {
    list-style-type: disc;
    list-style-position: outside;
    padding: 0 0 0 1.5rem;
}
